/* Fait reference a toute les class de type container*/

body {
    margin: 0;
    padding: 0;
}

.container {
    height: 100vh;
    color: aqua;
}

.fluid {
    width: 100%;
    color: blue;
}


/* si div espace en recherche les elements fils qui contiennent outer-splash */

div.outer-splash {
    position: absolute;
    /* par rapport au body car ici cest le container parent */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
}

div.inner-splash {
    /* se balade uniquement dans son contenu -> relative */
    position: relative;
    width: 800px;
    height: 600px;
    /* 0:haut bat , auto: gauche droite */
    /* gauche haut droite bas -> margin 0 auto 0 auto sinon on ecrit margin-left,top,bottom,right */
    margin: 0 auto;
    /* le bord haut est venu a 50 % de la hauteur */
    top: 50%;
    /* integralite de la div a 50% pour le slider de -50% pour revenir ah 50% */
    transform: translateY(-50%);
}

div.outer-splash.hidden {
    display: none;
}